[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests = "*"
requests-oauthlib = "*"

[packages]
tornado = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
psycopg2-binary = "*"
alembic = "*"
bcrypt = "*"
oauthlib = "*"
basicauth = "*"

[requires]
python_version = "3.6"
